{{ $ := .root }}
{{ $page := .page }}
<!-- Projects widget -->
<div class="row">
  <div class="col-xs-12 col-md-3 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-9">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
    <div id="container-member" class="row isotope">
      {{ range $member := (where $.Data.Pages "Type" "member").Reverse }}
        {{ $.Scratch.Set "member_url" $member.Permalink }}
        {{ $.Scratch.Set "target" "" }}
        {{ if $member.Params.external_link }}
        {{   $.Scratch.Set "member_url" $member.Params.external_link }}
        {{   $.Scratch.Set "target" "target=\"_blank\"" }}
        {{ end }}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 team-item isotope-item {{ delimit .Params.tags " " }}">
          <div class="card">
            <a href="{{ $.Scratch.Get "member_url" }}" title="" class="card-image hover-overlay"
              {{ $.Scratch.Get "target" | safeHTMLAttr }}>
              {{ if ($member.Params.image_preview) and (not $member.Params.image_preview "")}}
                <img src="{{ "/img/"}}{{ $member.Params.image_preview }}" alt="" class="img-responsive">
              {{else}}
                <img src="{{ "/img/members/thumbs/default.jpg"}}" alt="" class="img-responsive">
              {{end}}
            </a>
            <div class="card-text">
              <h4><a href="{{ $.Scratch.Get "member_url" }}" {{ $.Scratch.Get "target" | safeHTMLAttr }}>{{ .Params.fullName }}</a></h4>
              <div class="card-desription">
                {{ with $member.Params.summary }}<p>{{ . | markdownify }}</p>{{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
